<div class="card">
    <div class="card-header">
        <h4 class="card-title">Transacción</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled team-members">
            <li>
                <div class="row">
                    <div class="col-md-3 col-3 text-right">
                        <div class="avatar">
                            <i class="nc-icon nc-check-2"></i>
                        </div>
                    </div>
                    <div class="col-md-7 col-7 text-left">
                        Exitoso
                        <br />
                        <span class="text-muted">
                            <small>La transacción se realizo satisfactoriamente</small>
                        </span>
                    </div>
                </div>
            </li>
        </ul>

        <a class="btn btn-success" href="~/Users/">Aceptar</a>

    </div>
</div>
          